<?xml version="1.0" encoding="utf-8"?>
<root timestamp="2025-07-10T22:21:13.0250288+03:00">
  <customers child-name="customer" key-name="id" />
  <queries child-name="query" key-name="name">
    <query name="sys_dashboard_proj" timestamp="04.07.2018 19:02:50" class="1" file="sql.builder.templates\sql.builder\projects\system\scheme\original\sys_dashboard_proj.xml" haskeys="1">
      <select>
        <column table="a" type="string" column-mandatory="1" column="id" key="1" as="id" />
        <column table="a" column="name" type="string" column-mandatory="1" title="Имя" as="name" />
        <column table="a" column="is_new" type="number" sys="1" as="is_new" />
        <column table="a" column="is_not_new" type="number" sys="1" as="is_not_new" />
      </select>
      <from>
        <table name="sys_dashboard_proj" as="a" client-calc="1" />
      </from>
    </query>
    <query name="sys_grset" timestamp="04.08.2017 14:38:31" class="1" file="sql.builder.templates\sql.builder\projects\system\scheme\original\sys_grset.xml" haskeys="1">
      <select>
        <column table="a" column="grset_id" key="1" type="string" as="grset_id" />
        <column table="a" column="parent_id" type="string" as="parent_id" />
        <column table="a" column="title" type="string" title="Уровень группировки" column-editable="0" as="title" />
        <column table="a" column="info" type="string" title="Группировка" column-editable="0" as="info" />
        <column table="a" column="is_new" type="number" sys="1" as="is_new" />
        <column table="a" column="is_not_new" type="number" sys="1" as="is_not_new" />
      </select>
      <from>
        <table name="sys_grset" as="a" client-calc="1" />
      </from>
    </query>
    <query name="sys_object" timestamp="05.07.2018 01:04:28" class="1" client-calc="1" file="sql.builder.templates\sql.builder\projects\system\scheme\original\sys_object.xml" haskeys="1">
      <select>
        <column table="a" column="id" type="string" as="id" key="1" fixed="1" />
        <column table="a" column="name" type="string" title="Имя" as="name" key="0" />
        <column table="a" column="is_new" type="number" sys="1" as="is_new" key="0" />
        <column table="a" column="is_not_new" type="number" sys="1" as="is_not_new" key="0" />
      </select>
      <from>
        <table name="sys_object" as="a" client-calc="1" />
      </from>
    </query>
    <query name="sys_obj_ref" timestamp="14.12.2017 02:14:32" class="1" file="sql.builder.templates\sql.builder\projects\system\scheme\original\sys_object.xml" haskeys="1">
      <select>
        <column table="a" column="id" type="string" column-mandatory="1" key="1" as="id" />
        <column table="a" column="obj" type="string" title="Проект" column-mandatory="1" as="obj" reference="sys_object" refcol="id" />
        <column table="a" column="ref" type="string" column-mandatory="1" title="Ссылка" as="ref" reference="sys_object" refcol="id" />
        <column table="a" column="is_new" type="number" sys="1" as="is_new" />
        <column table="a" column="is_not_new" type="number" sys="1" as="is_not_new" />
      </select>
      <from>
        <table name="sys_obj_ref" as="a" client-calc="1" />
        <query name="sys_object" as="obj" join="left outer" dname="sys_obj_ref_par">
          <call function="=">
            <column table="a" column="obj" />
            <column table="obj" column="id" />
          </call>
        </query>
        <query name="sys_object" as="ref" join="left outer" dname="sys_obj_ref_cld">
          <call function="=">
            <column table="a" column="ref" />
            <column table="ref" column="id" />
          </call>
        </query>
      </from>
    </query>
    <query name="sys_project" class="1" timestamp="30.11.2022 12:55:00" file="sql.builder.templates\sql.builder\projects\system\scheme\original\sys_project.xml" haskeys="1">
      <select>
        <column table="a" column="name" type="string" column-mandatory="1" key="1" title="Имя" as="name" />
        <column table="a" column="check" type="numbet" as="check" />
        <column table="a" column="is_new" type="number" sys="1" as="is_new" />
        <column table="a" column="is_not_new" type="number" sys="1" as="is_not_new" />
      </select>
      <from>
        <table name="sys_project" as="a" client-calc="1" />
      </from>
    </query>
    <query name="sys_query_link" timestamp="03.08.2017 18:47:51" class="1" file="sql.builder.templates\sql.builder\projects\system\scheme\original\sys_query_link.xml" haskeys="1">
      <select>
        <column table="a" column="query_link_id" key="1" type="string" as="query_link_id" />
        <column table="a" column="title" type="string" as="title" />
        <column table="a" column="is_new" type="number" sys="1" as="is_new" />
        <column table="a" column="is_not_new" type="number" sys="1" as="is_not_new" />
      </select>
      <from>
        <table name="sys_query_link" as="a" client-calc="1" />
      </from>
    </query>
    <query name="sys_grset_link" timestamp="04.08.2017 16:58:41" class="1" file="sql.builder.templates\sql.builder\projects\system\scheme\original\sys_query_link.xml" haskeys="1">
      <select>
        <column table="a" column="grset_link_id" key="1" type="string" as="grset_link_id" />
        <column table="a" column="grset_id" type="string" as="grset_id" reference="sys_grset" refcol="grset_id" />
        <column table="a" column="query_link_id" type="string" as="query_link_id" reference="sys_query_link" refcol="query_link_id" />
        <column table="a" type="string" column="title" as="title" />
        <column table="a" column="is_new" type="number" sys="1" as="is_new" />
        <column table="a" column="is_not_new" type="number" sys="1" as="is_not_new" />
      </select>
      <from>
        <table name="sys_query_link" as="a" client-calc="1" />
        <query name="sys_grset" as="grset_id" join="left outer" dname="sys_grset_link">
          <call function="=">
            <column table="grset_id" column="grset_id" />
            <column table="a" column="grset_id" />
          </call>
        </query>
        <query name="sys_query_link" as="query_link_id" join="left outer" dname="sys_grset_link">
          <call function="=">
            <column table="query_link_id" column="query_link_id" />
            <column table="a" column="query_link_id" />
          </call>
        </query>
      </from>
    </query>
    <query name="sys_query_link" timestamp="03.08.2017 18:45:28" class="1" file="sql.builder.templates\sql.builder\projects\system\scheme\original\sys_query_links.xml" haskeys="1">
      <select>
        <column table="a" column="sys_grset_id" key="1" type="string" as="sys_grset_id" />
        <column table="a" column="parent_id" type="string" as="parent_id" />
        <column table="a" column="info" type="string" title="Уровень группировки" as="info" />
        <column table="a" column="is_new" type="number" sys="1" as="is_new" />
        <column table="a" column="is_not_new" type="number" sys="1" as="is_not_new" />
      </select>
      <from>
        <table name="sys_grset" as="a" client-calc="1" />
      </from>
    </query>
    <query name="form:sys_project" haskeys="1">
      <select>
        <const type="string" as="title" title="Параметр">'Имя'</const>
        <const type="string" as="name" key="1">'project'</const>
        <const type="string" as="text" title="Значение">NULL</const>
      </select>
      <from>
        <table name="dual" as="dual" />
      </from>
    </query>
    <query name="form:sys_extract_reg" haskeys="1">
      <select>
        <column table="u" column="title" title="Параметр" as="title" />
        <column table="u" column="name" key="1" as="name" />
        <column table="u" column="text" title="Значение" as="text" />
      </select>
      <from>
        <query as="u">
          <union>
            <query>
              <select>
                <const type="string" as="title">'Проект'</const>
                <const type="string" as="name">'p_proj'</const>
                <const type="string" as="text">NULL</const>
              </select>
              <from>
                <table name="dual" />
              </from>
            </query>
            <query>
              <select>
                <const>'Имя нового представления'</const>
                <const>'p_name'</const>
                <const>NULL</const>
              </select>
              <from>
                <table name="dual" />
              </from>
            </query>
          </union>
        </query>
      </from>
    </query>
    <query name="form:sys_str_input" haskeys="1">
      <select>
        <const type="string" as="title" title="Параметр">'Значение'</const>
        <const type="string" as="name" key="1">'value'</const>
        <const type="string" as="text" title="Значение">NULL</const>
      </select>
      <from>
        <table name="dual" as="dual" />
      </from>
    </query>
    <query name="form:sys_text_input" haskeys="1">
      <select>
        <const type="string" as="title" title="Параметр">'Значение'</const>
        <const type="string" as="name" key="1">'value'</const>
        <const type="string" as="text" title="Значение">NULL</const>
      </select>
      <from>
        <table name="dual" as="dual" />
      </from>
    </query>
  </queries>
  <functions child-name="function" key-name="name" />
  <parts child-name="part" key-name="id" />
  <views child-name="view" key-name="id" />
  <reports child-name="report" key-name="name" />
  <forms child-name="form" key-name="name">
    <form name="sys_grset" timestamp="07.08.2017 20:18:04" title="Группировка" form-size="1308;758" file="sql.builder.templates\sql.builder\projects\system\forms\sys_grset.xml">
      <content>
        <splitcontainer>
          <fieldgroup title="Уровни группировки" noborder="1">
            <grid table="a" show-toolbar="1" parent-field-name="parent_id">
              <toolbar>
                <uicommand button-type="grid-refresh" visible="0" />
                <uicommand button-type="grid-save" visible="0" />
                <uicommand action-type="close" title="Готово" button-type="custom-ok" name="apply" />
                <uicommand action-type="close" title="Отмена" />
              </toolbar>
              <columns>
                <column table="a" column="parent_id" />
                <column table="a" column="title" />
                <column table="a" column="info" />
              </columns>
            </grid>
          </fieldgroup>
          <fieldgroup title=" " show-toolbar="1" noborder="1">
            <toolbar>
              <uicommand action-type="add-selected" title="Добавить выделенные" />
              <uicommand action-type="remove-selected" title="Убрать выдленные" />
            </toolbar>
            <splitcontainer is-vertical="1">
              <fieldgroup title="Доступные">
                <grid table="b" title="Доступные">
                  <columns>
                    <column table="b" column="dummy" type="number" controlType="UICheck" title="Выбор" column-editable="1" as="check1" />
                    <column table="b" column="title" title="Измерение" />
                  </columns>
                </grid>
              </fieldgroup>
              <fieldgroup title="Выбранные">
                <grid table="c" title="Выбранные">
                  <columns>
                    <column table="c" column="query_link_id" column-visible="0" />
                    <column table="c" column="title" title="Измерение" />
                  </columns>
                </grid>
              </fieldgroup>
            </splitcontainer>
          </fieldgroup>
        </splitcontainer>
      </content>
      <from>
        <query name="sys_grset" as="a">
          <elink as="c" name="sys_grset_link" column="query_link_id" column-editable="0" />
        </query>
        <query name="sys_query_link" as="b" multi-select-column="check1" multi-select-target="c" column-editable="0" />
      </from>
    </form>
    <form name="sys_multiselect" timestamp="03.08.2018 18:46:01" with-behavior="0" show-toolbar="1" form-size="973;613" title="Выбор" file="sql.builder.templates\sql.builder\projects\system\forms\sys_multiselect.xml">
      <toolbar>
        <uicommand button-type="form-save" column-visible="0" />
        <uicommand button-type="form-save-and-close" column-visible="0" />
        <uicommand button-type="form-refresh" column-visible="0" />
        <uicommand button-type="custom-ok" column-visible="1" action-type="save-and-close" />
        <uicommand action-type="add-selected" title="Добавить выделенные" />
        <uicommand action-type="remove-selected" title="Убрать выдленные" />
      </toolbar>
      <content>
        <splitcontainer is-vertical="1">
          <fieldgroup noborder="1">
            <fieldgroup title="Доступные">
              <grid table="a">
                <columns>
                  <column table="a" column="id" column-visible="0" />
                  <column table="a" column="dummy" type="number" controlType="UICheck" title="Выбор" column-editable="1" as="check1" />
                  <column table="a" column="name" column-editable="0" column-width="250" />
                </columns>
              </grid>
            </fieldgroup>
          </fieldgroup>
          <fieldgroup title="Выбранные">
            <grid table="b">
              <columns>
                <column table="b" column="id" column-visible="0" />
                <column table="b" column="ref" column-visible="0" />
                <column table="c" column="name" column-width="323" />
              </columns>
            </grid>
          </fieldgroup>
        </splitcontainer>
      </content>
      <from>
        <query name="sys_object" multi-select-column="check1" multi-select-target="b" as="a" auto-refresh="1" />
        <query name="sys_object" as="m">
          <elink name="sys_obj_ref_par" column="ref" as="b">
            <link name="obj" as="c" />
          </elink>
        </query>
      </from>
    </form>
    <form name="sys_project" form-size="633;309" title="Проект" show-toolbar="1" comment="Диалоговое окно для редактирования проекта - используется в sql.builder.Controls.ucProjects.openProjEditor()" timestamp="30.11.2022 12:56:00" file="sql.builder.templates\sql.builder\projects\system\forms\sys_project.xml">
      <params>
        <param name="project" type="string" />
      </params>
      <content>
        <field name="project" type="string" controlType="UIText" title="Имя" mandatory="1" />
        <fieldgroup title="Зависимости">
          <grid table="refs" show-toolbar="1">
            <toolbar>
              <uicommand button-type="grid-add" column-visible="0" />
              <uicommand button-type="grid-delete" column-visible="0" />
              <uicommand button-type="grid-save" column-visible="0" />
              <uicommand button-type="grid-refresh" column-visible="0" />
            </toolbar>
            <columns>
              <column table="refs" column="check" title="Выбор" type="number" controlType="UICheck" column-editable="1" />
              <column table="refs" column="name" title="Проект" column-editable="0" />
            </columns>
          </grid>
        </fieldgroup>
      </content>
      <from>
        <query name="sys_project" as="refs" />
      </from>
    </form>
    <form name="sys_extract_reg" form-size="889;513" title="Регистрация представления" show-toolbar="1" timestamp="05.07.2018 03:50:16" file="sql.builder.templates\sql.builder\projects\system\forms\sys_project.xml">
      <toolbar>
        <uicommand button-type="form-save" column-visible="0" />
        <uicommand button-type="form-refresh" column-visible="0" />
        <uicommand button-type="form-save-and-close" column-visible="0" />
        <uicommand button-type="custom-ok" action-type="save-and-close" />
      </toolbar>
      <content>
        <field controlType="UICombo" type="string" file="sql.builder.templates\sql.builder\projects\common\param_fields_common.xml" name="p_proj" title="Проект" show-checkbox="0" column-mandatory="1" visible="1">
          <listquery>
            <query name="sys_object" />
          </listquery>
        </field>
        <field controlType="UIText" type="string" file="sql.builder.templates\sql.builder\projects\common\param_fields_common.xml" name="p_name" title="Имя нового представления" show-checkbox="0" column-mandatory="1" new-val="p_old_name" visible="1" />
        <field controlType="UICheck" checked="0" type="number" file="sql.builder.templates\sql.builder\projects\common\param_fields_common.xml" name="p_need_replace" visible="0" />
        <field controlType="UICheck" checked="0" type="number" file="sql.builder.templates\sql.builder\projects\common\param_fields_common.xml" name="p_replace" title="Заменить" visible="p_need_replace" mandatory="p_need_replace" />
        <fieldgroup title="Существующие представления" uncollapsible="1">
          <grid table="a">
            <columns>
              <column table="a" column="name" column-width="633" parname="p_old_name" />
            </columns>
          </grid>
        </fieldgroup>
      </content>
      <from>
        <query name="sys_object" as="a" column-editable="0" />
      </from>
    </form>
    <form name="sys_str_input" timestamp="05.02.2018 18:55:01" form-size="633;67" title="Ввод значения" file="sql.builder.templates\sql.builder\projects\system\forms\sys_str_input.xml">
      <content>
        <field controlType="UIText" type="string" file="sql.builder.templates\sql.builder\projects\common\param_fields_common.xml" name="value" title="Значение" show-checkbox="0" column-mandatory="1" />
        <uicommand name="ok" title="Ок" width-fixed="1" action-type="close" editable="is_form_valid" />
      </content>
    </form>
    <form name="sys_text_input" timestamp="05.02.2018 18:55:03" form-size="633;67" title="Ввод значения" file="sql.builder.templates\sql.builder\projects\system\forms\sys_str_input.xml">
      <content>
        <field controlType="UITextEx" type="string" file="sql.builder.templates\sql.builder\projects\common\param_fields_common.xml" name="value" title="Значение" show-checkbox="0" column-mandatory="1" />
        <uicommand name="ok" title="Ок" width-fixed="1" action-type="close" editable="is_form_valid" />
      </content>
    </form>
  </forms>
  <datatypes />
  <editors />
  <folders />
  <globalparams child-name="param" key-name="name" />
  <!--<globalconsts child-name="globalconst" key-name="name">
  </globalconsts>-->
  <expression-packages child-name="expression-package" key-name="name" />
  <dimension-packages child-name="dimension-package" key-name="name" />
  <security-packages child-name="security-package" key-name="name" />
  <color-packages child-name="color-package" key-name="name" />
  <format-packages child-name="format-package" key-name="name" />
  <button-types child-name="button-type" key-name="name" />
  <!--раздел qlikview организовать по аналогии с остальными вместо qlikview/customer/@id   дать имена   qwprojects/qwproject/@customer-->
  <qvprojects />
  <!--<images>
    <image char="" name="link" />
    <image char="" name="dlink" rotate-flip="RotateNoneFlipY"/>
    <image char="" name="call"/>
    <image char="" name="column"/>
  </images>
  <eltypes>
    <eltype  name="vcall" image="call"/>
    <eltype  name="vlink" image="link"/>
    <eltype  name="vdink" image="dlink"/>
    <eltype  name="vcolumn" image="column"/>
  </eltypes>-->
  <fields child-name="field" key-name="id" />
  <actions child-name="action" key-name="name" />
  <navigators child-name="navigator" key-name="name" />
  <projects child-name="project" key-name="name" />
</root>